html,
body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,
span {
  font-size: rem(14px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  display: flex;
}
